.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.get-token{
  margin-bottom: 20px;
}

.input-field{
  width: 40%;
  border-radius: 10px;
}

a{
  color: rgb(0, 31, 167);
}

.title{
  font-family: Roboto, sans-serif;
  color: rgb(0, 31, 167);
  font-size: 40px;
  margin-bottom: 25px;
}
