.example-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 15px;
}

span{
  margin-right: 20px;
}

.dinamic-content{
  padding: 20px;
}

.container{
  display: flex;
  align-items: center;
}
