.modify-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.user-row{
  background-color: rgb(247, 250, 252);
  width: 60%;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.user-row:hover{
  background-color: rgb(226, 226, 226);
}

span{
  font-size: 15px;
}

.name, .email{
  font-size: 18px;
  font-weight: 400;
}

.form-section{
  margin-top: 20px;
}

mat-form-field{
  margin-right: 10px;
}

.show-button{
  margin: 20px 0;
  width: 60%;
  display: flex;
  justify-content: flex-start !important;
}

.show-button > button{
  margin-right: 10px;
}

.second{
  padding-bottom: 20px;
}
